.checkout {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1em;
  padding: 3em;
}

.checkout--box {
  background-color: rgb(255, 255, 255);
}

.checkout--box--heading {
  font-size: 2em;
  padding: 0.5em 0em 0.5em 0.5em;
}

.checkout--box--noproduct {
  font-weight: bolder;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.checkout--btn {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.checkout-btn-clearcart,
.checkout-btn-placeorder {
  background: rgb(255, 215, 34);
  border: 0;
  font-weight: normal;
  padding: 1em;
  color: black;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 1em;
  width: 80%;
}

.checkout-btn-clearcart {
  background-color: rgb(234, 237, 237);
}

.checkout--btn--total_price {
  font-weight: bolder;
  font-size: 1.2em;
  margin: 1em 0em;
}

.checkout--btn--total_price--span {
  font-weight: normal;
}
