* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(234, 237, 237);
}

textarea:focus,
input:focus {
  outline: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

button {
  font-family: "Lato", sans-serif;
}
